.hero {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 80px;
    box-sizing: border-box;
}

.textBlock {
    max-width: 700px;
    flex: 1 1 400px;
    margin: 2rem;
}

.title {
    margin-top: -10rem;
    font-size: 8rem;
    font-weight: 700;
    color: var(--text-color);
    max-width: 600px;
}

.highlight {
    color: var(--primary);
}

.subtitle {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: var(--text-secondary);
    white-space: pre-line;
}

.welcome {
    color: var(--primary);
    font-weight: 700;
}

.cvButton {
    display: inline-block;
    text-decoration: none;
    margin-top: 2rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 1px solid var(--border);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cvButton:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.photoWrapper {
    width: 24rem;
    border-radius: 15%;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-width: 200px;
    flex-shrink: 1;
    margin-right: 2rem;
}

.photoWrapper:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media (max-width: 1024px) {
    .photoWrapper {
        width: 18rem;
    }

    .title {
        font-size: 6rem;
    }
}

@media (max-width: 769px) {
    .hero {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 2rem;
        padding-top: 90px;
    }
    .title {
        margin-top: 2rem;
        font-size: 5rem;
        text-align: center;
    }

    .subtitle {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    .photoWrapper {
        display: none;
    }
}
