/* Paletes */
:root {
    --bg-color: #fdf0eb;
    --text-color: #000000;
    --primary: #76b402;
}

.dark {
    --bg-color: #0f0f0f;
    --text-color: #ffffff;
    --primary: #517fff;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: system-ui, sans-serif;
    transition: background 0.3s ease, color 0.3s ease;
    margin: 0;
    overflow-x: hidden;
}

.container {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
